.theme-dark {
  --bg-color: #2E2E2E;
  --text-color: #F8F5F2;
  --primary-color: #D6D2CD;
  --accent-color: #504D4A;
}

.theme-light {
  --bg-color: #F8F5F2;
  --text-color: #2E2E2E;
  --primary-color: #504D4A;
  --accent-color: #D6D2CD;
}
